<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <form action="/bookings/print" method="get" class="no-print">
        <div>
            <div>

                <select name="type">
                    <option value="user" 
                    {% if request.GET.type == 'user' or not request.GET.type %}
                    selected
                    {% endif %}
                    >User</option>
                    <option value="book" {% if request.GET.type == 'book' %}
                    selected
                    {% endif %}>Book</option>
                </select>
                <input type="text" name="pk" placeholder="Username or Book Number" value="{{request.GET.pk}}">
            </div>
            <div style="font-size: 18px;
                        margin-block: 10px;"> <!-- Space below the checkbox -->
                <label for="include-comments" style="margin-right: 10px; font-size: 1.2rem;">Include Comments</label>
                <input type="checkbox" name="include_comments" id="include-comments" 
                    style="transform: scale(1.5); /* Make checkbox larger */
                            cursor: pointer; /* Pointer cursor on hover */
                            margin-left: 5px;"
                    {% if request.GET.include_comments == 'on' %}
                        checked
                    {% endif %}>
            </div>

            <input type="submit" value="Search" style="background-color: #3a5bfd; /* Green */
            color: white; 
            padding: 10px 20px; 
            margin-bottom: 1rem;
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            font-size: 16px; 
            transition: background-color 0.3s;">
        </div>
    </form>

    <div class="no-print">
        <span>
            <button type="button" onclick="window.print()" style="background-color: #4CAF50; /* Green */
            color: white; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            font-size: 16px; 
            transition: background-color 0.3s;">Print</button>
            <button type="button" onclick="printSummaryOnly()" style="background-color: #4CAF50; /* Green */
            color: white; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            font-size: 16px; 
            transition: background-color 0.3s;">Print only summary</button>
        </span>
    </div>

    <h1 class="title" id="title">{{title}}</h1>

    <table id="data-table">
        <thead>
            <tr>
                <th class="title">Item</th>
                <th class="title">Ordered Quantity</th>
                <th class="title">Delivered Quantity</th>
                <th class="title">Remaining Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for book in orders_data %}
                <tr style="border-top: 2px solid black;" class="summary">
                    <th colspan="4" class="title">Book: {{book.book_number}} Total Summary</th>
                </tr>
                {% for item in book.book_summary %}
                <tr class="summary">
                    <td>{{item.name}}</td>
                    <td style="text-align: center;" contenteditable="true">{{item.order_quantity}}</td>
                    <td style="text-align: center;" contenteditable="true">{{item.delivered_quantity}}</td>
                    <td style="text-align: center;" contenteditable="true">{{item.remaining_quantity}}</td>
                </tr>
                {% endfor %}
                <tr class="summary">
                    <td colspan="4"></td>
                </tr>

                {% for order in book.orders %}
                <tr style="border-top: 0px solid gray; border-bottom: 0;" 
                {% if order.order_comment %}
                    class="summary"
                {% endif %}
                    >
                    <td colspan="4" class="title" style="border-bottom: 0;">Order: {{order.bill_number}} - {{order.customer_name}}</td>
                </tr>
                
                {% if request.GET.include_comments == 'on' and order.order_comment %}
                <tr class="summary" style="border-top: 0;">
                    <td colspan="4" class="title" style="border-top: 0;">
                        <b>Comments:</b> {{order.order_comment}}
                    </td>
                </tr>
                
                {% endif %}
                    
                {% for order_item in order.items %}
                <tr aria-hidden="true" >
                    <td>{{order_item.name}}</td>
                    <td style="text-align: center;" contenteditable="true">{{order_item.order_quantity}}</td>
                    <td style="text-align: center;" contenteditable="true">{{order_item.delivered_quantity}}</td>
                    <td style="text-align: center;" contenteditable="true">{{order_item.remaining_quantity}}</td>
                </tr>
                {% endfor %}
                <tr 
                
                {% if order.order_comment %}
                    class="summary"
                {% endif %}
                    
                >
                    <td colspan="4"></td>
                </tr>
                {% endfor %}
            {% endfor %}

        </tbody>
    </table>

    <style>
        @media print {
            .no-print {
                display: none;
            }
        }

        *{
            font-size: 1rem;
        }

        .title {
            text-align: center;
            text-wrap: wrap;
            font-size: 1rem !important;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    

        th, td {
            text-align: left;
            border: 1px solid gray;
        }

        .border-box {
            border: 1px solid black;
        }
    </style>
    <script>
        const printSummaryOnly = () => {
                // Store the original content of the body
            const originalContent = document.body.innerHTML;

            // Get only the table, table-head, and rows with the "summary" class
            const table = document.getElementById('data-table');
            const tableHead = table.querySelector('thead').outerHTML;
            const summaryRows = Array.from(table.querySelectorAll('tbody tr.summary')).map(row => row.outerHTML).join('');

            // Get the title element
            const title = document.getElementById('title').outerHTML;

            // Create a new HTML structure with the title and the table
            const printableContent = `
                <html>
                    <head>
                        <title>Print</title>
                        <style>
                            /* Include original styles */
                            ${Array.from(document.styleSheets).map(styleSheet => {
                                try {
                                    const rules = Array.from(styleSheet.cssRules).map(rule => rule.cssText).join('\n');
                                    return rules;
                                } catch (e) {
                                    console.warn(`Could not access rules for ${styleSheet.href}: ${e}`);
                                    return '';
                                }
                            }).join('\n')}
                        </style>
                    </head>
                    <body>
                        ${title}
                        <table>
                            ${tableHead}
                            <tbody>
                                ${summaryRows}
                            </tbody>
                        </table>
                    </body>
                </html>
            `;

            // Open a new window and write the printable content to it
            const printWindow = window.open('', '_blank');
            printWindow.document.write(printableContent);
            printWindow.document.close();
            printWindow.focus();

            // Trigger the print function
            printWindow.print();

            // Restore the original content after printing
            document.body.innerHTML = originalContent; 

        }
    </script>
</body>

</html>